/* body {
	font-size: 62.5%;
	background: #dadada;
	font-family: DroidSansRegular, "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	line-height: 2;
	padding: 5px;
} */


.accordion {
	font-family: Arial, sans-serif;
	font-size: 13px;
	width: 100%;
	padding-top: 50px;
	margin: 0 auto;
	border-radius: 25% 10%;
}

/* .executed_earch,
.organic_traffic {
	background: white;
} */

.executed_search {
	padding: 20px 20px;
	background: #9e7ead;
	text-transform: uppercase;
	color: #e8e8e8;
	cursor: pointer;
	font-size: 1.5rem;
	transition: all .4s;
}

.executed_search:hover {
	background: #7a598a;
	position: relative;
	z-index: 5;
}

.organic_traffic {
	background: #fcfcfc;
	color: #3f3c3c;
	display: none;
}

.amounts_organic {
	padding: 15px 15px;
	font-size: 1.5rem;
}

.place_sometimes.active:last-child .executed_search {
	border-radius: none;
}

.accordion:first-child>.place_sometimes>.executed_search {
	border-bottom: 1px solid transparent;
}

.place_sometimes>.executed_search:after {
	content: "▼";
	font-family: IonIcons;
	font-size: 1rem;
	float: right;
	position: relative;
	top: -1px;
	transition: 0.1s all;
	transform: rotate(0deg);
}

.place_sometimes.active>.executed_search:after {
	transform: rotate(-180deg);
}

.place_sometimes.active .executed_search {
	background: #50385a;
}

@media screen and (max-width: 1000px) {
	body {
		padding: 1rem;
	}

	.accordion {
		width: 100%;
	}
}